<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap"
         rel="stylesheet">
		<link rel="stylesheet" 
			  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/search.css">

		<link rel="shortcut icon" href="/imgs/favicon.png">
        <title>AllBooks</title>
    </head>
    <body>
        <header>
            <div class="logo-cont">
                <img src="/imgs/open-book.png" alt="logo" onclick="window.location = '/'">
                <h4 class="logo" onclick="window.location = '/'">AllBooks</h4>
            </div>
            <nav>
                <ul class="nav-links">
					<% if(!currentUser){ %>
						<li><a class="nav-link" href="/login">Login</a></li>
						<li><a class="nav-link" href="/signup">Sign Up</a></li>
					<% } else { %>
                    	<li><a class="nav-link" href="/logout">Log Out</a></li>
						<li style="cursor: pointer">
							<img src="/imgs/userlogo.png" alt="logo" 
								 onclick="window.location = '/user'"
								 class="user-logo">
							<a class="nav-link" href="/user">
								<%= currentUser.name %>
								<span id="cart">(<%= currentUser.cart.length %>)</span>
							</a>
						</li>
					<% } %>
                </ul>
            </nav>
        </header>

        <main>
			<form class="search-box">
				<input type="text" class="search__txt" placeholder="Type to search" 
					   name="book_name">
				<button type="submit" class="search__btn">
					<i class="fas fa-search"></i>
				</button>
			</form>
			
			<section class="container">
				<h2 class="row__header">TODAY'S SPECIALS</h2>
				<div class="row">
					<% books.forEach((b) => { %>
					<div class="book">
						<img src="/imgs/book-image.jpg" class="book__image">
						<h4 class="book__name"><%= b.title %></h4>
						<form action="/user/add/<%= b._id %>" 
							  method="POST" 
							  class="add__form">
							<% if(currentUser && currentUser.cart.includes(b._id)) { %>
							<input class="add__btn" style="background: green" 
								   type="submit" value="Added" disabled>
							<% } else { %>
							<input class="add__btn" type="submit" value="&#8377; <%= b.price %>">
							<% } %>

						</form>
						<iframe style="display: none" name="hidden"></iframe>
					</div>
					<% }) %>
				</div>
			</section>
        </main>
		
		<footer>
			<ul class="footer__links">
				<li class="footer__link"><a href="#">About Us</a></li>
				<li class="footer__link"><a href="#">Contacts</a></li>
			</ul>
		</footer>
		
		<script>
			let addBtns = document.querySelectorAll(".add__btn");
			let navTxt = document.querySelector(".nav-link").textContent;
			let cart = document.querySelector("#cart");
			addBtns.forEach((btn) => {
				btn.addEventListener('click', (b) => {
					if (navTxt === "Log Out"){
						btn.parentElement.setAttribute("target", "hidden");
						btn.setAttribute("value", "Added");
						setTimeout(() => {
							btn.setAttribute("disabled", true);
							cart.textContent = "(" + (Number(cart.textContent[1]) + 1) + ")";
						}, 50);
						btn.style.background = 'green';
					}
				})
			})
		</script>
    </body>
</html>